@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {

    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.dark\:bg-gray-800 {
    &:where(.dark, .dark *) {
        --bg-opacity: 1;
        background-color: #1a1c23;
        background-color: rgba(26, 28, 35, var(--bg-opacity));
    }
}


.dark\:bg-gray-900 {
    &:where(.dark, .dark *) {
        --bg-opacity: 1;
        background-color: #121317;
        background-color: rgba(18, 19, 23, var(--bg-opacity));
    }
}

.dark\:text-gray-300 {
    &:where(.dark, .dark *) {
        --text-opacity: 1;
        color: #d5d6d7;
        color: rgba(213, 214, 215, var(--text-opacity));
    }
}

.dark\:border-gray-600 {
    &:where(.dark, .dark *) {
        --border-opacity: 1;
        border-color: #4c4f52;
        border-color: rgba(76, 79, 82, var(--border-opacity));
    }
}

.dark\:bg-gray-700 {
    &:where(.dark, .dark *) {
        --bg-opacity: 1;
        background-color: #24262d;
        background-color: rgba(36, 38, 45, var(--bg-opacity));
    }
}